<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

    <div class="login-background">
        <div class="login-container">
            <h2>SpinalAlign</h2>
            <form action="/login" method="POST">
                <div class="input-group">
                    <span class="icon">👤</span>
                    <input type="text" name="cpf" placeholder="CPF" required>
                </div>
                <div class="input-group">
                    <span class="icon">🔒</span>
                    <input type="password" name="senha" placeholder="Senha" required>
                </div>

                <button type="submit" class="login-button">LOGIN</button>

            </form>

            <form action="{{ url_for('redirecionar_LoginCadastro') }}" method="get">
                <button type="submit" class="login-button">Cadastrar</button>
            </form>


        </div>
    </div>


</body>

</html>